<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Pruning</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>DriverLog</string>
			<key>Key</key>
			<string>PruningDriverLog</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Inspection</string>
			<key>Key</key>
			<string>PruningIDDLInspection</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>HistoryLog</string>
			<key>Key</key>
			<string>PruningHistoryLog</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Load</string>
			<key>Key</key>
			<string>PruningLoad</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Vehicle</string>
			<key>Key</key>
			<string>PruningVehicle</string>
			<key>DefaultValue</key>
			<integer>31</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>IFTALog</string>
			<key>Key</key>
			<string>PruningIFTA</string>
			<key>DefaultValue</key>
			<integer>31</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ExpenseLog</string>
			<key>Key</key>
			<string>PruningExpense</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ActivityLog</string>
			<key>Key</key>
			<string>PruningActivity</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Values</key>
			<array>
				<integer>7</integer>
				<integer>14</integer>
				<integer>21</integer>
				<integer>31</integer>
				<integer>90</integer>
				<integer>180</integer>
				<integer>365</integer>
				<integer>1825</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>OneWeek</string>
				<string>TwoWeeks</string>
				<string>ThreeWeeks</string>
				<string>OneMonth</string>
				<string>ThreeMonths</string>
				<string>SixMonths</string>
				<string>OneYear</string>
				<string>NoPruning</string>
			</array>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>TelemetryLog</string>
            <key>Key</key>
            <string>PruningTelemetryLog</string>
            <key>DefaultValue</key>
            <integer>14</integer>
            <key>Values</key>
            <array>
                <integer>7</integer>
                <integer>14</integer>
                <integer>21</integer>
                <integer>31</integer>
                <integer>90</integer>
                <integer>180</integer>
                <integer>365</integer>
                <integer>1825</integer>
            </array>
            <key>Titles</key>
            <array>
                <string>OneWeek</string>
                <string>TwoWeeks</string>
                <string>ThreeWeeks</string>
                <string>OneMonth</string>
                <string>ThreeMonths</string>
                <string>SixMonths</string>
                <string>OneYear</string>
                <string>NoPruning</string>
            </array>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SyncFrecuencyGroup</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>SyncFrecuency</string>
			<key>Key</key>
			<string>SyncInterval</string>
			<key>DefaultValue</key>
			<integer>300</integer>
			<key>Values</key>
			<array>
				<integer>15</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>120</integer>
				<integer>300</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>15</string>
				<string>30</string>
				<string>60</string>
				<string>120</string>
				<string>300</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>OdometerCapture</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>MidnightOdometerCaptureTitle</string>
			<key>Key</key>
			<string>MidnightOdometerCapture</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<!--<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>PTOSetting</string>
		</dict>
		 <dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>PTO Fuel Settings</string>
			<key>Key</key>
			<string>FuelSetting</string>
			<key>DefaultValue</key>
			<integer>60</integer>
			<key>Values</key>
			<array>
				<integer>30</integer>
				<integer>60</integer>
				<integer>90</integer>
				<integer>120</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>30 Minute</string>
				<string>1 Hour</string>
				<string>1 Hour 30 Minute</string>
				<string>2 Hour</string>
			</array>
		</dict> -->
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>RequiredInspectionFields</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>InspectionMandatoryFieldsTitle</string>
			<key>Key</key>
			<string>InspectionMandatoryFields</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>previousInspectionValuesGroup</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>previousInspectionValuesTitle</string>
			<key>Key</key>
			<string>previousInspectionValues</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>applyTDTLimitGroup</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>applyTDTLimitTitle</string>
			<key>Key</key>
			<string>applyTDTLimit</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ImgesSave</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ImagesSaveInLibraryTitle</string>
			<key>Key</key>
			<string>ImagesSaveInLibrary</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SummaryRecalculationFrequencyGroup</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>SummaryRecalculationFrequency</string>
			<key>Key</key>
			<string>RecalculationInterval</string>
			<key>DefaultValue</key>
			<integer>-1</integer>
			<key>Values</key>
			<array>
				<integer>1800</integer>
				<integer>3600</integer>
				<integer>7200</integer>
				<integer>10800</integer>
				<integer>21600</integer>
				<integer>-1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>1800</string>
				<string>3600</string>
				<string>7200</string>
				<string>10800</string>
				<string>21600</string>
				<string>-1</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>InspectionPass</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>InspectionPassedTitle</string>
			<key>Key</key>
			<string>InspectionPassed</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MultipleAssignment</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>VehicleAutoUnassignTitle</string>
			<key>Key</key>
			<string>VehicleAutoUnassign</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>DataReset</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ResetOnLoad</string>
			<key>Key</key>
			<string>ResetOnLoad</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>AutoIFTA</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AutoIFTAallowTitle</string>
			<key>Key</key>
			<string>IFTA_Service_Allow</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>IftaPromptAllowTitle</string>
			<key>Key</key>
			<string>IftaPromptAllow</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>AutoIFTAfrequency</string>
			<key>Key</key>
			<string>AutoIFTAInterval</string>
			<key>DefaultValue</key>
			<integer>300</integer>
			<key>Values</key>
			<array>
				<integer>60</integer>
				<integer>180</integer>
				<integer>300</integer>
				<integer>600</integer>
				<integer>900</integer>
				<integer>1800</integer>
				<integer>3600</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>1 Minute</string>
				<string>180</string>
				<string>300</string>
				<string>600</string>
				<string>900</string>
				<string>1800</string>
				<string>3600</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>IFTA_SumTitle</string>
			<key>Key</key>
			<string>IFTA_Sum</string>
			<key>DefaultValue</key>
			<integer>31</integer>
			<key>Values</key>
			<array>
				<integer>31</integer>
				<integer>90</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Monthly</string>
				<string>Quarterly</string>
			</array>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>GaugeDescription</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Show Gauge</string>
            <key>Key</key>
            <string>ShowGauge</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>DisallowCreateNewEquipmentDescription</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>DisallowEquipmentAddCreateNewTitle</string>
            <key>Key</key>
            <string>DisallowEquipmentAddCreateNew</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
	</array>
</dict>
</plist>
